#dropzone-external {
  background-color: rgba(183, 183, 183, 0.1);
  border-width: 1px;
  border-style: dashed;
}

#dropzone-external > * {
  pointer-events: none;
}

#dropzone-external.dropzone-active {
  border-style: none;
}

#drpZone {
  border: dashed;
  padding: 1;
  object-fit: contain;
  display: flex;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  margin: 0;
  width: 100%;
  max-height: 95%;
  top: 0;
  font-size: 2vw;
}

.number-dropzone {
  object-fit: contain;
  display: flex;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.widget-container {
  font-size: 22px;
  font-weight: bold;
  object-fit: contain;
  display: flex;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

#dropzone-text > span {
  font-weight: 100;
  opacity: 0.5;
}

#upload-progress {
  display: flex;
  margin-top: 10px;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
